<%- include('../userHeader.ejs') -%>
    <!-- END nav -->

	<% if(list.length==0){ %>
		<div class="text-center">
		  <a href="/"><img src="/public/images/emptywishlist.webp" alt="empty-cart" style=" height:100vh;"></a>
		</div>
		<% }else{ %>

    <div class="hero-wrap hero-bread" style="background-image: url('../../public/images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Wishlist</span></p>
            <h1 class="mb-0 bread">My Wishlist</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Name</th>
						        <th>Price</th>
						        <th></th>
						        
						      </tr>
						    </thead>
							<% list.forEach(function(x){ %>
						    <tbody>
								
								<tr class="text-center">
									<td class="product-remove"><a href="/removeWishlistProduct/<%= x._id %>"><span class="ion-ios-close"></span></a></td>
									
						        <td class="image-prod"><div class="img" style="background-image:url(/<%=x.image%>);"></div></td>
						        
								
						        <td class="product-name">
						        	<h3><%= x.name %></h3>
						        	<!-- <p><%= x.description %></p> -->
									
						        </td>
						        
						        <td class="price"><%= x.price %></td>
						        
						        <td class="quantity">
									<div class="col col-lg-12 col-md-12 mt-5 cart-wrap ftco-animate">
    				
										<p class="text-center"><a href="/moveToCart/<%= x._id %>" class="btn btn-primary py-3 px-4">Add to Cart</a></p>
									</div>
						        	
							</td>
							
							
						</tr><!-- END TR-->
						

						<!-- END TR-->
					</tbody>
					<% }) %> 
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-start">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				
    				<p class="text-center"><a href="/cart" class="btn btn-primary py-3 px-4">Proceed to Cart</a></p>
    			</div>
    		</div>
			</div>
		</section>

		<% } %>
		

		<%- include('../userFooter.ejs') -%>